// Navigation code here
.SpaceHeader{display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

nav{display: flex;
    flex-direction: row;
    // justify-content: center;
    // justify-content: space-evenly;
    font-size: 2rem;
}



h6{ color: black;
    
    font-size: 3rem;}

}

@media @phone{flex-direction: column;}










